<%- include('../partials/header') %>
  <% if (flights.length > 0) { %>
    <table style="width:100%">
            <tr>
              <th>Airline</th>
              <th>Flight No.</th>
              <th>Depart Date</th>
              <th>View Details</th>
            </tr>
            <% flights.forEach(function(f) { %>
            <tr>
                <td><%= f.airline %></td>
                <td><%= f.flightNo %></td>
                <td><%= f.departs %></td>
                <td><a href="/flights/<%=f._id%>">View</a></td>
                <td>
                  <form action="/flights/<%=f._id%>?_method=DELETE" method="POST">
                    <button class="delete-form" type="submit">X</button>
                  </form>
              </td>
            </tr>
            <%})%>
          </table>
    <% } else {%>
      <h1>No Flights Have Been Booked</h1>
      <% } %>
<%- include('../partials/footer') %>
